<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits App</title>
</head>
<body style="color: #f2f2f2; background-color: #2b2b2b;">
    <header>
        <ul>
            <a style="color: rgb(177, 226, 240); margin: 0 2rem;" href="/">home</a>
            <a style="color: rgb(177, 226, 240); margin: 0 2rem;" href="/fruits">Show All Fruits</a>
            <a style="color: rgb(177, 226, 240); margin: 0 2rem;" href="/fruits/new">create fruit</a>
        </ul>
    </header>