<ul style="margin-top: 2rem;">
  <a class="fruits-index-link" href="/">
    <div class="index-link-text">Home</div>
  </a>
  <!-- index.ejs fruits -->

  <a class="fruits-index-link" href="/fruits">
    <div class="index-link-text">Browse Fruits</div>
  </a>

  <a class="fruits-index-link" href="/fruits/new">
    <div class="index-link-text add-fruit">Add Fruit</div>
  </a>
</ul>
